<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login System</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  
</head>
<body>
    
    <div class="card-wrapper">

        <div class="card">

            <h1 class="center">Create an Account</h1>

            <form name="signup_form" action="/yoga">

                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>

                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Sign Up" class="btn">
            
            </form>
            
            </div>
            <div class="card">

            <h1 class="center">Log In</h1>

            <form name="login_form" action="/yoga">

                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Log In" class="btn">
            
            </form>
            
            </div>
    </div>

    
</body>
</html>